<html>
<head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/all.css' %}" />
<link rel="stylesheet" href="{% static 'css/v4-shims.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
<script href="{% static "js/jquery-3.4.1.js" %}"></script>
<link href="https://fonts.googleapis.com/css?family=Cute+Font&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/login.css" %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
{% block body_block %}
  <div class="container">   
      <h1>c4u | Login</h1>
      <hr>
      <img style="height:100px;position:absolute;" src="{% static 'img/cute-kitty-animated-gif-4.gif'%}">
      <div class="body">
<form method="post" action="{% url 'home' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label class="mt-2" for="username"><i class="fas fa-user"></i></label>
          <input type="text" name="username" placeholder="Username"><br>
<label class="mt-2" for="password"><i class="fas fa-key"></i></label>
          <input type="password" name="password" placeholder="Password"><br>
<input class="btn m-5" type="submit" name="" value="Cat set go!">
</form>
</div>
  </div>
{% endblock %}
</body>
</html>