#heading{

    font-family: 'Pacifico', cursive; 
    color: purple;
    text-align: center;
}
#top{
    background: rgb(230, 198, 198)!important;
}

#cat-heart{
 width:75px;
 height:75px;
}
.nav-link{
    color:rgb(99, 99, 136) !important;
    border-color: antiquewhite;
    background-color: antiquewhite;
    margin-left: 10px;

}
.fab,.fas{
    font-weight: 900; 
    font-family: 'fontAwesome';
}
.nav-link:hover{
    background-color:plum !important;
}
.navbar.transparent{
    background:antiquewhite !important;
    font-family: Arial, Helvetica, sans-serif !important;
}
#footer{
    color:white !important;
    background: black !important;
}
#tip div{
    font-family: 'Pacifico', cursive;
    margin-top: 5px;
    background:linear-gradient(to right,rgb(255, 233, 246),beige,rgb(231, 179, 188), rgb(252, 214, 214));
    border-color: darkorchid !important;
    margin-bottom: 5px;
    opacity: 0.8;
}
#tip div:hover{
    opacity: 1;
}
.btn{
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: darksalmon !important;
    color:darkred !important;
}
#tip h3{
    margin-top: 5px;
    color: darkred !important;
    text-align: center;
   
}

