@import "all.css";

#top{
    font-family: 'Pacifico', cursive; 
    color: purple;
}

.nav-link{
    color:rgb(99, 99, 136) !important;
}
.navbar.transparent{
    background: rgba(0,0,0, 0) !important;
    font-family: Arial, Helvetica, sans-serif !important;
}
#head{
    font-size: 100px !important;
    color: purple;
    font-family: 'Cute Font', cursive;

}
.fab,.fas{
    font-weight: 900; 
    font-family: 'fontAwesome';
}
#for{
    font-stretch: ultra-expanded;
    font-size:125px;
}

#cat-box{
    cursor: pointer;
    width:100px;
    height:100px;
    border-radius: 50%;
}

#img-carousel{
    border-radius: 50% !important;
    height:500px;
    width:50px;
}

#dress{
    background:white !important;
}
#footer{
    color:white !important;
    background: black !important;
}