#heading{
    text-align:center;
    color:white;
    background: linear-gradient(to right, lightgreen,darkblue) !important;
    font-family: pacifico;
    padding: 15px;
}
.navbar.transparent{
    background:rgba(0,0,0,0.0) !important;
}
.fab,.fas{
    font-weight: 900; 
    font-family: 'fontAwesome';
}
.nav-link:hover{
    background:yellowgreen !important;
    width:100%;
    font-family: 'Permanent Marker', cursive;
}
#footer{
    background:black;
    color:white;
}
.fab,.fas{
    font-weight: 900; 
    font-family: 'fontAwesome';
}
#btn,.card-text{
    color:grey !important;
    background:rgba(0, 0, 0,0.1) !important;
    width:95%;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
body,.jumbotron{
    background:linear-gradient(to right,white,beige, rgba(245, 227, 178, 0.925),beige, white);
}